<ion-content class="add-pane">
  <div class="grid-menu">
    <div class="menu-item" (click)="select('request')">
      <ion-icon name="document-text-outline"></ion-icon>
      <span>Add Request</span>
    </div>

    <div class="menu-item" (click)="select('household')">
      <ion-icon name="home-outline"></ion-icon>
      <span>Add Household</span>
    </div>

    <div class="menu-item" (click)="select('amc')">
      <ion-icon name="refresh-outline"></ion-icon>
      <span>Renew AMC</span>
    </div>

    <div class="menu-item" (click)="select('insurance')">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <span>Insurance</span>
    </div>
  </div>
</ion-content>